.welcome {
    margin: 20px;
  }
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
  }
  
  .title-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 15px;
  }
  
  .subtitle-text {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
  }

  .explain {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
  }

  .line{
    width: 100%;
  }